<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Login</title>

    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <!-- Font CDN's -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/628503b113.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CDN's-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/scripts/index.js"></script>

</head>
<body>
    <div class="container-fluid">
        <center><h1>Administrator Login</h1></center>
        <form name="login_form" action="." method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="memail" class="form-control" id="emailAddr" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="mpasswd" class="form-control" id="passwd" placeholder="Password">
              <input type="checkbox" onclick="myFunction()"> Show Password
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</body>
</html>