<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Monitoring System v.0.1</title>

    <link rel="stylesheet" type="text/css" href="/static/css/nodeDataVisualization.css">
    <script type="text/javascript" src="/static/scripts/nodeDataVisualization.js"></script>

    <!-- Font CDN's -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/628503b113.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CDN's-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1395f1; width: 100%;">
        <a class="navbar-brand text-wrap" href="#">IoT Weather Node Dashboard v.0.1 (Alpha)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
          <li class="nav-item">
            <a class="nav-link" href="{{url_for("home")}}">Home</a>
          </li>

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Node Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Node Management</a>
                  <a class="dropdown-item" href="{{url_for("visualizeNodeData")}}">Node Data Visualization</a>
                  <a class="dropdown-item" href="{{url_for("dataTables")}}">Node Data Tables</a>
                </div>
              </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Credits</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{url_for("logoutUser")}}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid dpdn">
        <form name="node_select_form" action="{{url_for("visualizeNodeData")}}" method="POST">
          <label for="node">Select Node to display data:</label>
          <select name="nodeId" id="nodeid">
            <option disabled selected value> None </option>
            {% for node in nodeList %}
              <option value="{{node}}">{{node}}</option>
            {% endfor %}
          </select>
          <br><br>
          <button type="submit" class="btn btn-primary">Show Data</button>
        </form>
      </div>

    <center class="container-fluid">
      <div id="chart">    
      </div>
    </center>

      <script>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart',graphs,{},{responsive:true});
      </script>
</body>
</html>